/* Fondo general */
QMainWindow {
    background-color: whitesmoke;
}

/* Widget formulario */
QWidget#formulario {
    background: #212121;
    border-radius: 20px;
    padding: 24px;
}

/* Títulos */
QLabel#titulo {
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Etiquetas generales */
QLabel {
    color: #dddddd;
    font-size: 16px;
}

/* QLineEdit si los usas */
QLineEdit {
    background-color: #3a3a3a;
    color: #ffffff;
    border: 1px solid #5a5a5a;
    border-radius: 8px;
    padding: 8px;
}

/* Botones */
QPushButton {
    background-color: #007acc;
    color: #ffffff;
    border-radius: 8px;
    padding: 10px 15px;
    font-weight: bold;
}

QPushButton:hover {
    background-color: #005f99;
}

QHeaderView::section {
    padding: 6px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
}

QTableWidget {
    border-radius: 20px;
}
QPushButton#Exit {
    background: #b71c1c;
    color: #fff;
    border: 2px solid #b71c1c;
}

QPushButton#Exit:hover {
    background: #f44336;
    border: 2px solid #f44336;
}

QPushButton#Exit:pressed {
    background: #c62828;
    border: 2px solid #c62828;
}
